{% load static %}

 
<!DOCTYPE html>
<html>
<head>
	<title>Taller de Proyectos Web</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
</head>

<div class="row">
    <div class="col-md-1">
    </div>
    
    <div class="col-md-10">
    <div>
        <body style="background-image: url('/media/ImDePag/[005479].jpg'); color:whitesmoke; " >

            {% block cabezera %}
                <div class="row" style="background-color: rgba(207, 99, 99, 0.7)">
                    <div class ="col-md-4" align="left">
                        <a class="active" href="/inicio"><img src="/media/ImDePag/logo2.png" width="100%"></img></a>
                        
                    </div>
                    <div class="col-md-3">
                        {% if user.is_authenticated %}
                        <a class="active" href="/gacha"><center><img src="/media/ImDePag/gacha2.png" width = "25%" ></img></center></a>
                        
                        {% endif %} 
                    </div>
                    <div class="col-md-2">
                        {% if user.is_authenticated %}
                        
                        <table style="border-collapse:separate;border-spacing:15px 15px;" >
                        <tr>
                        <form method="POST">
                        {% csrf_token %}
                            <td><center><input type="image" name = 'moneymaker' value='moneey' src="/media/ImDePag/coin.png" width="35%"></center></td>
                            <td><h3>{{money}}</h3></td>
                        </form>
                        </tr>
                    
                    </table>
                        
                        {% endif %} 
                    </div>
                    <div class="col-md-3" align="right">
                        {% if user.is_authenticated %}
                            <a href="/perfil"><img src="/media/perfil/profile_pics/{{profile_pic}}" width="90px" height = "90px" style="border-radius: 50%;" onerror="this.src='/media/ImDePag/user.png';"></img></a>
                        {% else %}
                            <a href="/user_login"><img src="/media/ImDePag/user.png" width="25%"></img></a>
                        {% endif %}                         
                    </div>
                </div>    
            {% endblock %}
            
            {% block body_block %}

                {% block integrantes %}
                <div class="container" style="width:80%; " align="center">

                    <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.5); color:whitesmoke;">

                    <p>Bienvenid@ al mejor gacha de waifus hecho por un sansano fuera de discord (y el único, quizás), aquí podrás collecionar waifus sin que nadie te 
                    mire feo por la vida, también puedes agregar a tus amigos!</p>
                    <p> Que esperas para unirte!</p>

                    <a href="/user_login" >Iniciar sesión</a> 
                    <a >/</a> 
                    <a href="/register" >Crear cuenta</a>

                    <p align="left"> Desarrollado por:</p>
                    <p align="left"> - Ignacio Jorquera</p>
                    <p align="left"> - Daniel Pumarino</p>

                    <p align="left"> Mención honorífica:</p>
                    <p align="left"> - PWP 2019-2</p>
                    
                
                {% endblock %}
                {% block meme %}
                
                {% endblock %}
            {% endblock %}
        </body>
    </div>

</div>

</html>	