{% extends 'base.html' %}

{% block contenido %}
    <body>
        <center style = 'font-size: 30px' >
        El proyecto consiste en que cada usuario de la app tendrá un inventario asociado a su id.
        </center>
    </body>
    <body>
        <center style = 'font-size: 30px' >
        El inventario se irá modificando (se agregarán y eliminarán elementos) conforme a un sistema
        </center>
    </body>
    <body>
        <center style = 'font-size: 30px' >
        de gacha e intercambio.
        </center>
    </body>
    <body>
        <center style = 'font-size: 30px' >
        Adicionalmente, la hora es: 
        </center>
        <center style = 'font-size: 50px'>{{nombre}}</center>
    </body>
{% endblock %}

{% block meme %}
{% endblock %}